<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="false">
    <serverUrls>
        <serverUrl
          url="http://sampleserver6.arcgisonline.com"
          username="naivedevelopers"
          password="abcd1234"
          rateLimit="120"
          rateLimitPeriod="60"
          matchAll="true"/>
        <serverUrl
          url="https://route.arcgis.com"
          matchAll="true"
          oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
          clientId="8it1CoHZYdWcSX0x"
          clientSecret="52651ec06c0144eaa0c9f4e994f528a7"
          rateLimit="120"
          rateLimitPeriod="60"/>
      </serverUrl>
</ProxyConfig>
<!-- See https://github.com/Esri/resource-proxy for more information -->